<html>
<head>
    <meta charset="UTF-8"/>
</head>
<style>

    @font-face {
        font-family: "DINNext";
        src: url("medium.otf");
    }

    body {
        margin: 0;
        color: white;
        width: 1920px;
        heigt: 1080px;
    }

    span {
        display:block;
        width: 1860px;
        padding: 30px;
        word-wrap:break-word;

        position: absolute;
        top: 820px;
        left: 0px;

        font-family: "DINNext";
        font-size: 3rem;
    }
</style>
<body>
<img src="background.png"/>
<span >{{text}}</span>
</body>
</html>
